<div class="loader-container" [hidden]="isShow">
  <div class="loader"></div>
</div>
<div [hidden]="!isShow">
  <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="_type==='buyer'">
    <thead>
      <tr>
          <th>No.</th>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th [hidden]="adminSelect==='holdingUser'">Status</th>
          <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user  of data;let  i = index">
        <td>{{ i+1 }}</td>
        <td>{{user.buyer_id}}</td>
        <td>{{user.user.firstname}} {{user.user.lastname}}</td>
        <td>{{user.buyer_address}}</td>
        <td>{{user.user.email}}</td>
        <!-- <td [hidden]="adminSelect==='holdingUser'">{{user.profile_status.profile_status_name}}</td> -->
        <td [hidden]="adminSelect==='holdingUser'">
            <select class="form-control" name="selectStatus" #selectStatus="ngModel" (change)="onClickUpdate(selectStatus.value)" [(ngModel)]="user.profile_status.profile_status_name">
                <option>Approve</option>
                <option [ngValue]='({user: user.buyer_id, status: 4})'>Block</option>
            </select>
          </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-success rounded-0" [hidden]="adminSelect==='userInSystem'" [disabled]="user.profile_status.profile_status_id===2" (click)="confirmFunction({user: user.buyer_id, status: 2})">Approve</button>
            <button type="button" class="btn btn-danger rounded-0" [hidden]="adminSelect==='userInSystem'" (click)="confirmFunction({user: user.buyer_id,status: 3})">Reject</button>
            <!-- <button type="button" class="btn btn-danger rounded-0" [hidden]="adminSelect==='holdingUser'" (click)="onClickUpdate(user.buyer_id,4)">Block</button> -->

            <button type="button" class="btn btn-info rounded-0" data-toggle="modal" data-target="#userInfo" (click)="onClickInfo(user)" [hidden]="adminSelect==='holdingUser'">Info</button>
            <button type="button" class="btn btn-warning rounded-0"  data-toggle="modal" data-target="#editUser" (click)="onClickEdit(user)" [hidden]="adminSelect==='holdingUser'">Edit</button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="_type==='seller'">
    <thead>
      <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Shop Name</th>
        <th>Location</th>
        <th>Email</th>
        <th [hidden]="adminSelect==='holdingUser'">Status</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user  of data;let  i = index">
        <td>{{ i+1 }}</td>
        <td>{{ user.seller_id }}</td>
        <td>{{ user.shop_name }}</td>
        <td>{{ user.shop_location }}</td>
        <td>{{ user.user.email }}</td>
        <!-- <td [hidden]="adminSelect==='holdingUser'">{{ user.profile_status.profile_status_name }}</td> -->
        <td [hidden]="adminSelect==='holdingUser'">
          <select class="form-control" name="selectStatus" #selectStatus="ngModel" (change)="onClickUpdate(selectStatus.value)" [(ngModel)]="user.profile_status.profile_status_name">
            <option>Approve</option>
            <option [ngValue]='({user: user.seller_id, status: 4})'>Block</option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-danger rounded-0" [hidden]="adminSelect==='holdingUser'" (click)="onClickUpdate(user.buyer_id,4)">Block</button> -->
            <button type="button" class="btn btn-success rounded-0"  [hidden]="adminSelect==='userInSystem'" [disabled]="user.profile_status.profile_status_id===2" (click)="confirmFunction({user: user.seller_id, status: 2})">Approve</button>
            <button type="button" class="btn btn-danger rounded-0" [hidden]="adminSelect==='userInSystem'" (click)="confirmFunction({user: user.seller_id, status: 3})">Reject</button>
            <button type="button" class="btn btn-info rounded-0" data-toggle="modal" data-target="#userInfo" (click)="onClickInfo(user)" >Info</button>
            <button type="button" class="btn btn-warning rounded-0"  data-toggle="modal" data-target="#editUser" (click)="onClickEdit(user)" [hidden]="adminSelect==='holdingUser'">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="_type==='deliver'">
    <thead>
      <tr>
          <th>No.</th>
          <th>ID</th>
          <th>Name</th>
          <th>Bank Account No</th>
          <th>Bank Account Name</th>
          <th>Email</th>
          <th [hidden]="adminSelect==='holdingUser'">Status</th>
          <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data;let  i = index">
        <td>{{ i+1 }}</td>
        <td>{{ user.shipper_id }}</td>
        <td>{{ user.user.firstname}} {{ user.user.lastname}}</td>
        <td>{{ user.bank_account_no }}</td>
        <td>{{ user.bank_account.bank_account_name }}</td>
        <td>{{ user.user.email }}</td>
        <!-- <td [hidden]="adminSelect==='holdingUser'">{{ user.profile_status.profile_status_name }}</td> -->
        <td [hidden]="adminSelect==='holdingUser'">
            <select class="form-control" name="selectStatus" #selectStatus="ngModel" (change)="onClickUpdate(selectStatus.value)" [(ngModel)]="user.profile_status.profile_status_name">
                <option>Approve</option>
                <option [ngValue]='({user: user.shipper_id, status: 4})'>Block</option>
            </select>
          </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-success rounded-0" [hidden]="adminSelect==='userInSystem'" (click)="confirmFunction({user: user.shipper_id, status: 2})">Approve</button>
            <!-- (click)="onClickUpdate({user: user.shipper_id, status: 2})" -->
            <button type="button" class="btn btn-danger rounded-0" [hidden]="adminSelect==='userInSystem'" (click)="confirmFunction({user: user.shipper_id, status: 3})">Reject</button> 
            <!-- (click)="onClickUpdate({user: user.shipper_id, status: 3})" -->
            <button type="button" class="btn btn-info rounded-0" data-toggle="modal" data-target="#userInfo" (click)="onClickInfo(user)" >Info</button>
            <button type="button" class="btn btn-warning rounded-0"  data-toggle="modal" data-target="#editUser" (click)="onClickEdit(user)" [hidden]="adminSelect==='holdingUser'">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>



  <div [hidden]="_type!=null">
      <!-- ////////////////////////////////// infoModal ///////////////////////////////////////-->
      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img  class="card-img-top" [src]="product_image" alt="">
              <p>
                <strong>Product ID: </strong>{{ product_id }}</p>
              <p>
                <strong>Product Name: </strong>{{ product_name }}</p>
              <p>
                <strong>Product Description: </strong>{{ product_description }}</p>
              <p>
                <strong>Product Price: </strong>{{ product_price }}</p>
              <p>
                <strong>Product Catagory: </strong>{{ selected_catagory }}</p>
              <!-- <p>
                <strong>Product in stock: </strong>{{ unit_in_stock }}</p> -->
              <!-- <p><strong>Product ID: </strong>{{ product_available }}</p> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- ////////////////////////////////// EditModal ///////////////////////////////////////-->
      <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
  
              <img  class="card-img-top" [src]="product_image" alt="">
  
              <form #editProductForm=ngForm>
                <div class="form-group">
                  <label for="input-id">Product id</label>
                  <input [disabled]="isClick" type="number" name="id" class="form-control" id="input-id" placeholder="Product Name" [(ngModel)]="product_id" disabled/>
                </div>
  
                <div class="form-group">
                  <label for="input-name">Product name</label>
                  <input [disabled]="isClick" type="text" name="name" class="form-control" id="input-name" placeholder="Product name" [(ngModel)]="product_name"
                    required/>
                </div>
  
                <div class="form-group">
                    <label for="input-price">Product Price</label>
                    <input [disabled]="isClick" type="text" name="price" class="form-control" id="input-price" placeholder="Product Price" [(ngModel)]="product_price"
                      required>
                  </div>
    <!--
                <div class="form-group">
                  <label for="input-price">Product Amount Unit</label>
                  <input [disabled]="isClick" type="number" name="amount_unit" class="form-control" id="input-amount-unit" placeholder="Product Unit Amount" [(ngModel)]="unit_in_stock"
                    required>
                </div> -->
  
                <div class="form-group">
                  <label for="selectCatagory">Product Catagory</label>
                  <select [disabled]="isClick" class="form-control" name="selectCatagory" id="selectCatagory" #selectCatagory="ngModel" [(ngModel)]="dafault_catagory"
                    (ngModelChange)="onCatagorySelected($event)" required>
                    <option [disabled]="isClick" *ngFor="let item of catagory" [value]="item.product_category_id">{{item.product_category_name}}</option>
                  </select>
                </div>
  
                <div class="form-group">
                  <label for="input-description">Product Description</label>
                  <textarea [disabled]="isClick" type="text" name="description" class="form-control" id="input-description" placeholder="Product Description" [(ngModel)]="product_description"
                    required></textarea>
                </div>
              </form>
              <div *ngIf="isEdit">
                <p style="color:Green">Product has been edit</p>
              </div>
              <div *ngIf="error">
                <p style="color:red">error</p>
              </div>
              <div *ngIf="isClick" class="w3-display-middle">
                <p class="loading">Saving</p>
              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="isEdit" type="button" class="btn btn-secondary rounded-0" (click)="onClose()" data-dismiss="modal">Close</button>
              <button *ngIf="!isEdit" type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cancel</button>
              <button *ngIf="!isEdit" type="button" class="btn btn-warning rounded-0" (click)="onEdit()" [disabled]="isClick">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  
    <!-- ////////////////////////////////// deleteModal ///////////////////////////////////////-->
      <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="isDelete">
                <p style="color:red">Product has been delete</p>
              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="isDelete" type="button" class="btn btn-secondary rounded-0" (click)="onClose()" data-dismiss="modal">Close</button>
              <button *ngIf="!isDelete" type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cancel</button>
              <button *ngIf="!isDelete" type="button" class="btn btn-danger rounded-0" (click)="onDelete(product_id)">Delete</button>
            </div>
          </div>
        </div>
      </div> -->

    <!-- ////////////////////////////////// confirm ///////////////////////////////////////-->
    <div class="modal fade" id="confirmModel" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


        
  </div>


  <!-- ////////////////////////////////// user info ///////////////////////////////////////-->
  <div *ngIf="userInfo" class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
              <img  *ngIf="_type==='deliver'" class="card-img-top" [src]="baseUrl + user_info.shipper_transfer_slip" alt="">
              <img  *ngIf="_type==='seller'" class="card-img-top" [src]="baseUrl + user_info.shop_logo_image" alt="">
            </div>
          <p>First name: {{user_info.firstname}}</p>
          <p>Last name: {{user_info.lastname}}</p>
          <p>Email: {{user_info.email}}</p>
          <p>Telephone number: {{user_info.telephone_number}}</p>
          <p>Citizen Id: {{user_info.identity_no}}</p>
          <p *ngIf="_type==='buyer'">Buyer address: {{user_info.buyer_address}}</p>
          <p *ngIf="_type==='seller'">Shop name: {{user_info.shop_name}}</p>
          <p *ngIf="_type==='seller'">Shop location: {{user_info.shop_location}}</p>
          <p *ngIf="_type==='deliver'">Bank account no: {{user_info.bank_account_no}}</p>
          <p *ngIf="_type==='deliver'">Bamk account name: {{user_info.bank_account_name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////////// edit user ///////////////////////////////////////-->
  <div *ngIf="editUser" class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="user-firstname">First name</label>
              <input type="text" name="user-firstname" class="form-control" id="input-firstname" placeholder="First name"  [(ngModel)]="user_info.firstname"
                required/>
                <span class="text-danger" [hidden]="!error.firstname">
                    {{error.firstname}}
                </span>
            </div>

            <div class="form-group">
              <label for="user-lastname">Last name</label>
              <input type="text" name="user-lastname" class="form-control" id="input-lastname" placeholder="Last name"  [(ngModel)]="user_info.lastname"
                required/>
                <span class="text-danger" [hidden]="!error.lastname">
                    {{error.lastname}}
                </span>
            </div>

            <!-- <div class="form-group">
              <label for="user-email">email</label>
              <input type="email" name="user-email" class="form-control" id="input-email" placeholder="Email"  [(ngModel)]="user_info.email"
                required/>
            </div> -->

            <div class="form-group">
              <label for="user-telephone_number">Telephone number</label>
              <input type="number" pattern="[0-9]*" maxlength="10" 
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              name="user-telephone_number" class="form-control" id="input-telephone_number" placeholder="Telephone number"  [(ngModel)]="user_info.telephone_number"
                required/>
                <span class="text-danger" [hidden]="!error.telephone_number">
                    {{error.telephone_number}}
                </span>
            </div>

            <div class="form-group">
              <label for="user-identity_no">Citizen Id</label>
              <input type="number" name="user-identity_no" maxlength="13"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" id="input-identity_no" placeholder="Citizen Id"  [(ngModel)]="user_info.identity_no"
                required/>
                <span class="text-danger" [hidden]="!error.identity_no">
                    {{error.identity_no}}
                </span>
            </div>

            <div class="form-group" *ngIf="_type==='buyer'">
              <label for="user-buyer_address">Buyer address</label>
              <input type="text" name="user-buyer_address" class="form-control" id="input-buyer_address" placeholder="Buyer address"  [(ngModel)]="user_info.buyer_address"
                required/>
                <span class="text-danger" [hidden]="!error.buyer_address">
                    {{error.buyer_address}}
                </span>
            </div>

            <div class="form-group" *ngIf="_type==='seller'">
              <label for="user-shop_name">Shop name</label>
              <input type="text" name="user-shop_name" class="form-control" id="input-shop_name" placeholder="Shop name"  [(ngModel)]="user_info.shop_name"
                required/>
                <span class="text-danger" [hidden]="!error.shop_name">
                    {{error.shop_name}}
                </span>
            </div>

            <div class="form-group" *ngIf="_type==='seller'">
              <label for="user-shop_location">Shop location</label>
              <textarea type="text" name="user-shop_location" class="form-control" id="input-shop_location" placeholder="Shop location"  [(ngModel)]="user_info.shop_location"
                required></textarea>
                <span class="text-danger" [hidden]="!error.shop_location">
                    {{error.shop_location}}
                </span>
            </div>

            <div class="form-group" *ngIf="_type==='deliver'">
              <label for="user-bank_account_no">Bank account no</label>
              <input type="number" name="user-bank_account_no" class="form-control" id="input-bank_account_no" placeholder="Bank account no"  [(ngModel)]="user_info.bank_account_no"
                required/>
                <span class="text-danger" [hidden]="!error.bank_account_no">
                    {{error.bank_account_no}}
                </span>
            </div>

            
            <div class="form-group" *ngIf="_type==='deliver'">
              <label for="selectBank">Select bank account</label>
              <select [disabled]="isClick" class="form-control" name="selectBank" id="selectBank" [(ngModel)]="user_info.bank_account_name" #selectBank="ngModel" (ngModelChange)="onBankSelected($event)"
                required>
                <option value="" disabled selected>Select bank account</option>
                <option *ngFor="let bank of bankAccount" [value]="bank.bank_account_id">{{bank.bank_account_name}}</option>
              </select>
            </div>


  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning rounded-0" (click)="onEdit()">Confirm</button>

          </div>
        </div>
      </div>
  </div>

</div>


