<div class="loader-container">
  <div class="loader"></div>
</div>
<div class="w3-row" id="container">
  <div class="container">
    <div class="w3-container w3-padding">
      <div *ngFor="let order of orders;let i = index">
        <div class="w3-container w3-quarter">
          <div class="card">
              <div class="card-header">
                  <p>
                    <b>{{order.order_id}}</b>
                  </p>
                </div>
            <!-- <div class="d-flex justify-content-center">
              <img class="card-img-top" [src]="baseUrl+shop.shop_logo_image" alt="">
            </div> -->
            <div class="card-body">
              <h5 class="card-title">{{order.receiver_firstname}} {{order.receiver_lastname}}</h5>
              <p class="card-text">{{order.receiver_location}}</p>
              <p class="card-text">{{order.service_charge}}</p>
              <p class="card-text">{{order.order_total_price}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
