<div class="loader-container" [hidden]="!isShow">
  <div class="loader" ></div>
</div>
<div class="w3-row" id="container" [hidden]="isShow">

  <!-- <div class="row">
    <div class="col-sm-10 col-md-6 col-centered">
        <i class="fa fa-shopping-cart" id="cart"></i>
    </div>
  </div> -->

    <div class="w3-row" id="searchBox">
      <div class="w3-col m3 w3-center">
          <p></p>
      </div>
      <div class="w3-col m6 w3-center">
        <div class="input-group mb-6" id="search">
          <input type="text" class="form-control input-lg" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-warning" id="search-button">
              <i class="fa fa-search"></i>
            </button>
          </div>          
        </div>
      </div>
      <div class="w3-col m3 w3-center" id="cart" (click)="goToCart()">
        <i class="fa fa-shopping-cart" >
            <span *ngIf="cart_num!=0" class="cart-num" id="topActionCartNumber">{{cart_num}}</span>
        </i>
      </div>

    </div>

    

    <div class="row" id="header-container">
      <div class="col-2  w3-green" >
        <p>Hello</p>
      </div>
      <div class="col-10 w3-green">
        </div>
    </div>

    <div class="w3-container w3-padding w3-light-grey">
      <div *ngFor="let product of products;let i = index" [hidden]="i >= 12">
        <div class="w3-container w3-quarter">
          <div class="card">
              <div class="card-img-top d-flex justify-content-center">
                  <img [src]="baseUrl+product.product_image_1" alt="" >
              </div>            
              <div class="card-body">
                <h5 class="card-title" id="title">{{product.product_name}}</h5>
                <p class="card-text" id="description">{{product.product_description}}</p>
                <h4 class="card-text" id="text">&#3647; {{product.product_price}}</h4>
                <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#infoModal" (click)="openInfo(product)">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-padding-32 w3-light-grey">
      <button class="btn btn-outline-info btn-block">See More</button>
    </div>


<!-- //////////////////////////////////// Product Modal /////////////////////////////////////////// -->

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-img-top d-flex justify-content-center">
              <img [src]="baseUrl+form.product_image_1" alt="" >
          </div> 
        <p>
          <strong>Product Name: </strong>{{ form.product_name }}</p>
        <p>
          <strong>Product Description: </strong>{{ form.product_description }}</p>
        <p>
          <strong>Product Price: </strong>{{ form.product_price }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addToCart(form)">Add to cart</button>
      </div>
    </div>
  </div>
</div>