<div class="loader-container">
  <div class="loader" [hidden]="isLoad"></div>
</div>
<div [hidden]="!isLoad">

  <!-- Menu  -->
  <div class="container" [hidden]="isMenu">
    <div class="card-container w3-display-middle rounded-0">
      <div id="inner">
        <h4>Admin session</h4>
        <p>Select one menu</p>
        <div id="menu">
          <div class="row">
            <div class="col-12" id="menu-top" (click)="userInSystem()">
              <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
              <div >
                <p class="w3-display-middle">User in system</p>
              </div>
            </div>
            <div class="col-12" id="menu-button" (click)="holdingUser()">
              <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg2">
              <div >
                <p class="w3-display-middle">Holding user</p>
              </div>
            </div>
            <div class="col-12" id="menu-button" (click)="OrderHistory()">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg2">
                <div >
                  <p class="w3-display-middle">Order history</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div [hidden]="!isMenu">
    <!-- User In system -->
    <div [hidden]="!isUserIn">
      <div class="w3-container" id="holding-container">
        <h1>
          <b>User in system</b>
        </h1>
        <div class="row" id="search">
          <div class="col">
            <select class="form-control" name="selectRole" #selectRole="ngModel" [(ngModel)]="selectedRole">
              <option disabled selected hidden [ngValue]="undefined"> Select role</option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-primary rounded-0" (click)="searchByRole()">Search</button>
          </div>
        </div>
        <div id="dataTable">
          <div [hidden]="isBuyer">
            <app-admin-table-data *ngIf="!isBuyer" [_type]="type" [_data]="userInsystem['buyer']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div>
          <div [hidden]="isSeller">
            <app-admin-table-data *ngIf="!isSeller" [_type]="type" [_data]="userInsystem['seller']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div>
          <div [hidden]="isDeliver">
            <app-admin-table-data *ngIf="!isDeliver" [_type]="type" [_data]="userInsystem['Shipper']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div>
        </div>
      </div>
    </div>

    <!-- Holding User -->
    <div [hidden]="!isHolding">
      <div class="w3-container" id="system-container">
        <h1>
          <b>Holding user</b>
        </h1>
        <div class="row" id="search">
          <div class="col">
            <select class="form-control" [(ngModel)]="selectedRole" #selectRole="ngModel" (ngModelChange)="onRoleSelected($event)">
              <option disabled selected hidden [ngValue]="undefined"> Select role</option>
              <option *ngFor="let role of roles" (click)="onRoleSelected(role)">{{role}}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-primary rounded-0" (click)="searchByRole()">Search</button>
          </div>
        </div>
        <div id="dataTable">
          <!-- <div [hidden]="isBuyer">
            <app-admin-table-data *ngIf="!isBuyer" [_type]="type" [_data]="holdingUsers['buyer']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div> -->
          <div [hidden]="isSeller">
            <app-admin-table-data *ngIf="!isSeller" [_type]="type" [_data]="holdingUsers['seller']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div>
          <div [hidden]="isDeliver">
            <app-admin-table-data *ngIf="!isDeliver" [_type]="type" [_data]="holdingUsers['Shipper']" (updateUser)="onClickUpdate($event)"></app-admin-table-data>
          </div>
        </div>
      </div>
    </div>
    <!-- Order history -->
    <div [hidden]="!isHistory">
        <div class="w3-container" id="order-history">
            <h1>
              <b>Order history</b>
            </h1>
            <app-table-history *ngIf="ready" [_headers]="headers_history" [_type]="type" [_data]="_data" ></app-table-history>
        </div>
    </div>

  </div>





</div>


<!-- //////////////////////////////////// Approve Modal /////////////////////////////////////////// -->

<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Approve this user??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="approve()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<!-- //////////////////////////////////// Reject Modal /////////////////////////////////////////// -->

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Reject this user??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="reject()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<!-- //////////////////////////////////// Info Modal /////////////////////////////////////////// -->

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>User information</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<!-- //////////////////////////////////// Edit Modal /////////////////////////////////////////// -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Edit user information</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
