<div class="loader-container">
  <div class="loader" [hidden]="isLoad"></div>
</div>
<div [hidden]="!isLoad">

  <!-- Menu  -->
  <div class="container" [hidden]="isMenu">
    <div class="card-container w3-display-middle">
      <div id="inner">
        <h4>Admin session</h4>
        <p>Select one menu</p>
        <div id="menu">
          <div class="row">
            <div class="col-12" id="menu-top">
              <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
              <div (click)="userInSystem()">
                <p class="w3-display-middle">User in system</p>
              </div>
            </div>
            <div class="col-12" id="menu-button">
              <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg2">
              <div (click)="holdingUser()">
                <p class="w3-display-middle">Holding user</p>
              </div>
            </div>
            <div class="col-12" id="menu-button">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg2">
                <div>
                  <p class="w3-display-middle">Order history</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- User in system -->
  <div [hidden]="!isMenu">
    <div [hidden]="!isHolding">
      <div class="w3-container" id="holding-container">
        <h1>
          <b>User in system</b>
        </h1>
        <div class="row" id="search">
          <div class="col">
            <select class="form-control" name="selectRole" #selectRole="ngModel" [(ngModel)]="selectedRole">
              <option disabled selected hidden [ngValue]="undefined"> Select role</option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn" (click)="searchByRole()">Search</button>
          </div>
        </div>
        <div id="dataTable">
          <div [hidden]="isBuyer">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of display_buyer;let  i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.location }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.status }}</td>
                  <td>
                    <div class="btn-group">
                      <button [disabled]="user.status=='Approve'" type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                      <button [disabled]="user.status=='Block'" type="button" class="btn btn-danger" (click)="onClickUpdate(user,4)">Block</button>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div [hidden]="isSeller">
            <table datatable class="row-border hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th>Shop Name</th>
                  <th>Location</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of display_seller;let  i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.location }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.status }}</td>
                  <td>
                    <div class="btn-group">
                      <button [disabled]="user.status=='Approve'" type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                      <button [disabled]="user.status=='Block'" type="button" class="btn btn-danger" (click)="onClickUpdate(user,4)">Block</button>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div [hidden]="isDeliver">
            <table datatable class="row-border hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Bank Account No</th>
                  <th>Bank Account Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of display_shipper;let  i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.bank_account_no }}</td>
                  <td>{{ user.bank_account_name }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <div class="btn-group">
                      <button [disabled]="user.status=='Approve'" type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                      <button [disabled]="user.status=='Block'" type="button" class="btn btn-danger" (click)="onClickUpdate(user,4)">Block</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>





    <!-- Holding User -->
    <div [hidden]="isHolding">
      <div class="w3-container" id="system-container">
        <h1>
          <b>Holding user</b>
        </h1>
        <div class="row" id="search">
          <div class="col">
            <select class="form-control" [(ngModel)]="selectedRole" #selectRole="ngModel" (ngModelChange)="onRoleSelected($event)">
              <option disabled selected hidden [ngValue]="undefined"> Select role</option>
              <option *ngFor="let role of roles" (click)="onRoleSelected(role)">{{role}}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn" (click)="searchByRole()">Search</button>
          </div>
        </div>
        <div id="dataTable">


          <div [hidden]="isBuyer">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                    <th>No.</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of display_buyer;let  i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                      <button type="button" class="btn btn-danger" (click)="onClickUpdate(user,3)">Reject</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <div [hidden]="isSeller">
              <table datatable [dtOptions]="dtOptions" class="row-border hover">
                  <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>Shop Name</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of display_seller;let  i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.status }}</td>
                      <td>
                        <div class="btn-group">
                          <button  type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                          <button  type="button" class="btn btn-danger" (click)="onClickUpdate(user,3)">Reject</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

          </div>
          <div [hidden]="isDeliver">
              <table datatable [dtOptions]="dtOptions" class="row-border hover">
                  <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Bank Account No</th>
                        <th>Bank Account Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of display_shipper;let  i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.bank_account_no }}</td>
                        <td>{{ user.bank_account_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.status }}</td>

                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-success" (click)="onClickUpdate(user,2)">Approve</button>
                          <button type="button" class="btn btn-danger" (click)="onClickUpdate(user,3)">Reject</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- //////////////////////////////////// Approve Modal /////////////////////////////////////////// -->

<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Approve this user??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="approve()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<!-- //////////////////////////////////// Reject Modal /////////////////////////////////////////// -->

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Reject this user??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="reject()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>


<!-- //////////////////////////////////// Info Modal /////////////////////////////////////////// -->

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>User information</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<!-- //////////////////////////////////// Edit Modal /////////////////////////////////////////// -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Edit user information</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
