<div class="container">
  <br>
  <h1>Edit shop</h1>
  <form #editShopForm=ngForm (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="input-name">Shop Name</label>
      <input [disabled]="isClick" type="text" name="shop-name" class="form-control" id="input-name" placeholder="Shop Name"  [(ngModel)]="form.shop_name"
        required/>
      <span class="text-danger" [hidden]="!error.shop_name">
          {{error.shop_name}}
        </span>
    </div>

    <div class="form-group">
      <label for="shop-location">Shop Location</label>
      <input [disabled]="isClick" type="text" name="shop-location" class="form-control" id="shop-location" placeholder="Shop location"  [(ngModel)]="form.shop_location"
        required/>
      <span class="text-danger" [hidden]="!error.shop-location">
          {{error.shop_location}}
        </span>
    </div>

    <div class="d-flex justify-content-center" >
      <agm-map [zoom]="17" [latitude]="latitude" [longitude]="longtitude" (mapClick)="onChooseLocation($event)" >
        <agm-marker [latitude]="latitude" [longitude]="longtitude"></agm-marker>
      </agm-map>
      </div>

    <!-- <div class="form-group">
      <label for="selectCatagory">Shop Catagory</label>
      <select class="form-control" name="selectCatagory" id="selectCatagory" #selectCatagory="ngModel" [(ngModel)]="form.selected_catagory"
        required>
        <option disabled selected>Select a Catagory</option>
        <option *ngFor="let item of catagory" [value]="item.category_id">{{item.category_name}}</option>
      </select>
    </div> -->

    <!-- <div class="form-group">
        <label for="selectCatagory">Shop Catagory</label>
        <select [disabled]="isClick" class="form-control" name="selectCatagory" id="selectCatagory" #selectCatagory="ngModel" [(ngModel)]="dafault_catagory" (ngModelChange)="onCatagorySelected($event)"
          required>
          <option [disabled]="isClick" *ngFor="let item of catagory" [value]="item.shop_type_id">{{item.shop_type_name}}</option>
        </select>
      </div> -->
<!-- 
    <div class="form-group">
      <label for="input-price">Shop Image</label>
      <br>
      <input [disabled]="isClick" type='file' id="img" (change)="preview($event)" accept="image/*" />
      <br>
      <br>

      <canvas id="previewImg" #mycanvas></canvas>
    </div> -->

    <div *ngIf="isClick">
      <p class="loading">Saving</p>
    </div>

    <div *ngIf="isCreate">
      <p class="success" >Upload Success</p>
    </div>

    <div *ngIf="error">
      <p class="error" >{{errorMessage}}</p>
    </div>
    

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-success btn-block" [disabled]="isClick">Edit</button>

      </div>
      <div class="col">
        <button class="btn btn-danger btn-block" (click)="onClear()">Clear</button>

      </div>
    </div>
  </form>
  <br>
</div>
