<div class="container">
  <br>
  <h1>Add Product</h1>
  <form #createProductForm=ngForm (ngSubmit)="onCreate()">
    <div class="form-group">
      <label for="input-name">Product Name</label>
      <input [disabled]="isClick" type="text" name="name" class="form-control" id="input-name" placeholder="Product Name" [(ngModel)]="form.product_name"
        required/>
      <span class="text-danger" [hidden]="!error.product_name">
        {{error.product_name}}
      </span>
    </div>

    <div class="form-group">
      <label for="input-price">Product Price</label>
      <input [disabled]="isClick" min="1" max="1000" type="number" name="price" class="form-control" id="input-price" placeholder="Product Price" [(ngModel)]="form.product_price"
        required/>
      <span class="text-danger" [hidden]="!error.product_price">
        {{error.product_price}}
      </span>
    </div>

    <div class="form-group">
      <label for="selectCatagory">Select Product Catagory</label>
      <select [disabled]="isClick" class="form-control" name="selectCatagory" id="selectCatagory" #selectCatagory="ngModel" [(ngModel)]="form.selected_catagory"
        required>
        <option value="" disabled selected>Select a Catagory</option>
        <option [disabled]="isClick" *ngFor="let item of catagory" [value]="item.product_category_id">{{item.product_category_name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="input-description">Description</label>
      <textarea [disabled]="isClick" type="text" name="description" class="form-control" id="input-description" placeholder="Product Description" [(ngModel)]="form.product_description"
        required></textarea>
      <span class="text-danger" [hidden]="!error.product_description">
        {{error.product_description}}
      </span>
    </div>

    <div class="form-group">
      <label for="input-price">Product Image</label>
      <br>
      <input [disabled]="isClick" type='file' id="img" (change)="preview($event.target.files)" accept="image/*" #fileInput/>
      <br>
      <br>
      <img [hidden]="imageUrl==null" [src]="imageUrl" style="width:50%;height: 50%;">
      <!-- <canvas id="previewImg" #mycanvas></canvas> -->
    </div>
    <br>

    <div *ngIf="isClick">
      <p class="loading">Saving</p>
    </div>

    <div *ngIf="isCreate">
      <p class="success" >Upload Success</p>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-success btn-block rounded-0" [disabled]="isClick">Create</button>

      </div>
      <div class="col">
        <button class="btn btn-danger btn-block rounded-0" (click)="onClear()">Clear</button>

      </div>
    </div>
  </form>
  <br>
</div>
