<div class="bgImg">
        <!-- <img class="bgImg" src="../assets/images/mac-image.jpg" /> -->
        <div class="w3-display-left w3-text-white" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">Start something that matters</span>
          <br>
          <span class="w3-xxlarge w3-hide-large w3-hide-medium w3-text-white">Start something that matters</span>
          <br>
          <span class="w3-large w3-text-white">Stop wasting valuable time with going out side.</span>
          <p>
            <a href="/" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a>
          </p>
        </div>
        <div class="w3-display-bottomleft" style="padding:24px 48px">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      </div>
      <!-- About Section -->
      <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THIS PROJECT</h3>
        <p class="w3-center w3-large">Key features of our project</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
          <div class="w3-quarter">
            <i class="fa fa-desktop jumbo"></i>
            <p class="w3-large">Responsive</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-heart jumbo"></i>
            <p class="w3-large">Passion</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-automobile jumbo"></i>
            <p class="w3-large">Design</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-cog jumbo"></i>
            <p class="w3-large">Support</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        </div>
      </div>
      
      <!-- Promo Section - "Recommend Shop." -->
      <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <div class="w3-row-padding">
          <div class="w3-col m6">
            <h3>Recommend Shop.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              <br>tempor incididunt ut labore et dolore.</p>
            <p>
              <a href="/login" class="w3-button w3-black">
                <i class="fa fa-th"> </i> View Our Recommend Shop</a>
            </p>
          </div>
          <div class="w3-col m6">
            <img class="w3-image w3-round-large" src="assets/img/mac-image.jpg"  width="700" height="394">
            <!-- <div class="w3-image w3-round-large img-recommend-shop"></div> -->
          </div>
        </div>
      </div>
      
      <!-- Team Section -->
      <div class="w3-container" style="padding:128px 16px" id="team">
        <h3 class="w3-center">THE TEAM</h3>
        <p class="w3-center w3-large">The ones who runs this project</p>
        <div class="w3-row" style="margin-top:64px;">
          <div class="w3-container w3-quarter ">
          </div>
          <div class="w3-container w3-quarter ">
            <div class="w3-card">
              <img class="team-member" src="/assets/img/Thanida2.jpg">
              <div class="w3-container">
                <h3>Thanida Tilangkan</h3>
                <p class="w3-opacity">Software Engineering</p>
                <p class="w3-opacity">5721150xx</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p>
                  <button class="w3-button w3-light-grey w3-block">
                    <i class="fa fa-envelope"></i> Contact</button>
                </p>
              </div>
            </div>
          </div>
          <div class="w3-container w3-quarter">
            <div class="w3-card">
              <img class="team-member" src="assets/img/Tanaphum2.jpg">
              <div class="w3-container">
                <h3>Tanaphum Wichaita</h3>
                <p class="w3-opacity">Software Engineering</p>
                <p class="w3-opacity">5721150xx</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p>
                  <button class="w3-button w3-light-grey w3-block">
                    <i class="fa fa-envelope"></i> Contact</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Promo Section "Statistics" -->
      <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
          <div class="w3-quarter">
            <span class="w3-xxlarge">400+</span>
            <br>Users
          </div>
          <div class="w3-quarter">
            <span class="w3-xxlarge">155+</span>
            <br>Delivers
          </div>
          <div class="w3-quarter">
            <span class="w3-xxlarge">275+</span>
            <br>Shops
          </div>
          <div class="w3-quarter">
            <span class="w3-xxlarge">1,450+</span>
            <br>Products
          </div>
        </div>
      
        <!-- Recommend Shop Section -->
      <div class="w3-container" style="padding:128px 16px" id="work">
          <h3 class="w3-center">OUR RECOMMEND SHOP</h3>
          <p class="w3-center w3-large">What we've done for people</p>
        <!-- Loop Shop in list and show shop image & Click to select to navigate to shop profile-->
          <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
            </div>
          </div>
        
          <div class="w3-row-padding w3-section">
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
            </div>
            <div class="w3-col l3 m6">
              <img src="assets/img/mac-image.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
            </div>
          </div>
        </div>
      
        <!-- Contact Section -->
      <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
          <h3 class="w3-center">CONTACT</h3>
          <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
          <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-half">
              <p><i class="fa fa-map-marker w3-margin-right"></i> Chiang Mai, TH</p>
              <p><i class="fa fa-phone w3-margin-right"></i> Phone: +66 123456789</p>
              <p><i class="fa fa-envelope w3-margin-right"> </i> Email: mail@mail.com</p>
              <br>
              <form #contactForm=ngForm (ngSubmit)="onSubmit()">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" [(ngModel)]="form.Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" [(ngModel)]="form.Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" [(ngModel)]="form.Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" [(ngModel)]="form.Message" required name="Message"></p>
                <p>
                  <button class="w3-button w3-black" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                  </button>
                </p>
              </form>
            </div>
            <div class="w3-half">
              <!-- Add Google Maps -->
              <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
            </div>
          </div>
        </div>
        
        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-64">
          <!-- <a href="/dashboard" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a> -->
          <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
          </div>
          <p>	&copy; Collage Of Art Media And Technology</p>
        </footer>
      