<div class="loader-container">
  <div class="loader" [hidden]="isShow"></div>
</div>
<div class="container" [hidden]="!isShow">
  <div class="card card-container w3-display-middle">
    <div class="w3-row-padding">
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Seller</div>
          <div *ngIf="validSeller">
            <div class="card-body w3-center">
              <p><b>{{sellerProfile.shop_name}}</b></p>
              <p>{{sellerProfile.shop_type.shop_type_name}}</p>
              <p>{{sellerProfile.shop_location}}</p>             
            </div>
            <div class="card-footer">
              <a (click)="enterManageShop(sellerProfile)" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>
          <div class="card-body w3-center" *ngIf="!validSeller">
            <button class="btn btnPlus" (click)="createProfile(2)">+</button>
          </div>
        </div>
      </div>
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Buyer</div>
          <div *ngIf="validBuyer">
            <div class="card-body w3-center">
              <p><b>{{buyerProfile.buyer_firstname}} {{buyerProfile.buyer_lastname}}</b></p>          
            </div>
            <div class="card-footer">
              <a href="/shops" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>
          <div class="card-body w3-center" *ngIf="!validBuyer">
            <button class="btn btnPlus" (click)="createProfile(3)">+</button>
          </div>
        </div>
      </div>
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Deliver</div>
          <div *ngIf="validDeliver">
            <div class="card-body w3-center">
              <p><b>{{deliverProfile.deliver_firstname}} {{deliverProfile.deliver_lastname}}</b></p>          
          
             </div>
            <div class="card-footer">
              <a href="/" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>

          <div class="card-body w3-center" *ngIf="!validDeliver">
            <button class="btn btnPlus" (click)="createProfile(4)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
