<div class="loader-container">
  <div class="loader" [hidden]="isShow"></div>
</div>
<div class="container" [hidden]="!isShow">
  <div *ngIf="isAdmin">
    <app-admin></app-admin>
  </div>
  <div class="card card-container w3-display-middle" *ngIf="!isAdmin">

      <div id="inner">
          <h4>Knock Knock</h4>
          <p>Select one menu</p>
          <div id="menu">
            <div class="row">
              <div class="col-12 w3-display-container" id="menu-top" [hidden]="validSeller" (click)="enterManageShop(sellerProfile)">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
                <div class="w3-padding-large">
                      <p>Seller</p>
                </div>
              </div>
              <div class="col-12 w3-display-container" id="menu-top" [hidden]="!validSeller" (click)="createProfile(2)">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
                <div class="w3-padding-large">
                  <p>Create Seller profile</p>
                </div>
              </div>
              <div class="col-12 w3-display-container" id="menu-center" [hidden]="validBuyer" (click)="enterShops()">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg2">
                <div class="w3-padding-large">
                        <p>Buyer</p>
                </div>
              </div>
              <div class="col-12 w3-display-container" id="menu-top" [hidden]="!validBuyer" (click)="createProfile(3)">
                <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
                <div class="w3-padding-large">
                  <p>Create Buyer profile</p>
                </div>
              </div>
              <div class="col-12 w3-display-container" id="menu-button" [hidden]="validDeliver" (click)="enterDeliver()">
                  <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg3">
                  <div class="w3-padding-large">
                          <p>Shipper</p>
                  </div>
                </div>
                <div class="col-12 w3-display-container" id="menu-top" [hidden]="!validDeliver" (click)="createProfile(4)">
                  <img src="http://i.pravatar.cc/60" alt="Avatar" id="roundImg1">
                  <div class="w3-padding-large">
                    <p>Create Shipper profile</p>
                  </div>
                </div>
            </div>
          </div>
  
        </div>






    <!-- <div class="w3-row-padding">
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Seller</div>
          <div *ngIf="validSeller">
            <div class="card-body w3-center">
              <p><b>{{sellerProfile.shop_name}}</b></p>
              <p>{{sellerProfile.shop_type.shop_type_name}}</p>
              <p>{{sellerProfile.shop_location}}</p>             
            </div>
            <div class="card-footer">
              <a (click)="enterManageShop(sellerProfile)" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>
          <div class="card-body w3-center" *ngIf="!validSeller">
            <button class="btn btnPlus" (click)="createProfile(2)">+</button>
          </div>
        </div>
      </div>
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Buyer</div>
          <div *ngIf="validBuyer">
            <div class="card-body w3-center">
              <p><b>{{buyerProfile.buyer_firstname}} {{buyerProfile.buyer_lastname}}</b></p>          
            </div>
            <div class="card-footer">
              <a href="/shops" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>
          <div class="card-body w3-center" *ngIf="!validBuyer">
            <button class="btn btnPlus" (click)="createProfile(3)">+</button>
          </div>
        </div>
      </div>
      <div class="w3-third">
        <div class="card">
          <div class="card-header">Deliver</div>
          <div *ngIf="validDeliver">
            <div class="card-body w3-center">
              <p><b>{{deliverProfile.deliver_firstname}} {{deliverProfile.deliver_lastname}}</b></p>          
          
             </div>
            <div class="card-footer">
              <a href="/" class="btn btn-success btn-block">Enter</a>
            </div>
          </div>

          <div class="card-body w3-center" *ngIf="!validDeliver">
            <button class="btn btnPlus" (click)="createProfile(4)">+</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
