.container {
    background-position: center;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/maple-768x432.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .w3-container  {
    width: 500px;
    padding-top: 20px;

  }

  agm-map {
    height: 250px;
  }

  
.loader-container {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 240px;
  height: 120px;
  margin: auto;
}

.loader {
  border: 14px solid #f3f3f3;
  /* Light grey */
  border-top: 14px solid #000000;
  /* Blue */
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
