.container {
    background-position: center;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/maple-768x432.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .w3-container  {
    width: 500px;

  }