<div class="loader-container">
  <div class="loader" ></div>
</div>
<div class="w3-row" id="container" >
  <div class="container">

    <div class="card card-container w3-display-middle" [hidden]="!isCheckOut">
      <div class="card-header">Cart</div>
      <div class="card-body">
        <div class="row" id="inner" *ngFor="let product of cart;let i = index">
          <div class="col" style="display:flex">
            <p id="remove" (click)="deleteProduct(product)">
              <i class="fa fa-trash"></i>
            </p>
            <p>&nbsp;{{product.product_name}}</p>
          </div>
          <div class="col d-flex justify-content-between">
            <p>{{product.product_price}} &#3647;</p>
            <div>
              <p>
                <span>
                  <button class="btn btn-default" (click)="decrease(product)" [disabled]="product.amount == 1">-</button>
                  {{product.amount}}
                </span>
                <button class="btn btn-default" (click)="increase(product)">+</button>
              </p>
            </div>
          </div>
        </div>
        <div>
          <p><b>Totla price:</b> {{totalPrice}} &#3647;</p>
        </div>
        
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-info" (click)="backToShop()">Back to shopping</button>
        <button class="btn btn-success" (click)="checkOut()">Check Out</button>
      </div>
    </div>

    <div class="w3-display-middle" [hidden]="isCheckOut">
      <div class="card card-container" [hidden]="!isNewOrder">
        <div class="card-header">Create new order request</div>
        <div class="card-body">
            <form #createOrderForm=ngForm>

              <!-- <label for="input-firstname">Receiver firstname</label> -->
              <input type="text" name="receiver_firstname" class="form-control" id="input-receiver_firstname" placeholder="Receiver firstname" [(ngModel)]="orderForm.receiver_firstname"
              required/>

              <!-- <label for="input-receiver_lastname">Receiver lastname</label> -->
              <input type="text" name="receiver_lastname" class="form-control" id="input-receiver_lastname" placeholder="Receiver lastname" [(ngModel)]="orderForm.receiver_lastname"
              required/>

              <!-- <label for="input-receiver_location">Receiver location</label> -->
              <textarea type="text" name="receiver_location" class="form-control" id="input-receiver_location" placeholder="Receiver location" [(ngModel)]="orderForm.receiver_location"
              required></textarea>
            </form>

            <div class="form-group">
                <agm-map [zoom]="18" [latitude]="latitude" [longitude]="longtitude" (mapClick)="onChooseLocation($event)" >
                  <agm-marker [latitude]="latitude" [longitude]="longtitude"></agm-marker>
                </agm-map>
                </div>
           
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-danger" (click)="cancelOrderRequest()">Cancel</button>
            <button class="btn btn-success" (click)="createNewOrderRequest()">Create</button>
        </div>
      </div>

      <div class="card card-container" [hidden]="isNewOrder">
        <div class="card-header">Waiting shipper accept</div>
        <div class="card-body">
          <h2>Waiting...</h2>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-success" (click)="isCreatedOrder()">Ok</button>
        </div>
      </div>
    </div>




  </div>
</div>
