<div class="loader-container">
  <div class="loader" [hidden]="!isShow"></div>
</div>
<div class="w3-row" [hidden]="isShow">
  <div class="w3-container w3-display-middle">
    <div class="card">
      <div class="card-header">Sign Up</div>
      <div class="card-body">
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
          <!-- <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div> -->

          <div class="form-group">
            <label for="input-name">First Name</label>
            <input type="text" name="firstname" class="form-control" id="input-firstname" placeholder="First Name" [(ngModel)]="form.firstname" required/>
            <span class="text-danger" [hidden]="!error.firstname">
              {{error.firstname}}
            </span>
          </div>

          <div class="form-group">
            <label for="input-name">Last Name</label>
            <input type="text" name="lastname" class="form-control" id="input-lastname" placeholder="Last Name" [(ngModel)]="form.lastname" required/>
            <span class="text-danger" [hidden]="!error.lastname">
              {{error.lastname}}
            </span>
          </div>

          <div class="form-group">
            <label for="input-email">Identity No.</label>
            <input type="text" name="identity_no" class="form-control" id="input-identity_no" placeholder="Identity no." [(ngModel)]="form.identity_no" required>
            <span class="text-danger" [hidden]="!error.identity_no">
              {{error.identity_no}}
            </span>
          </div>

          <div class="form-group">
            <label for="input-email">Telephone number</label>
            <input type="number" name="telephone_number" class="form-control" id="input-telephone_number" placeholder="Telephone number" [(ngModel)]="form.telephone_number" required>
            <span class="text-danger" [hidden]="!error.telephone_number">
              {{error.telephone_number}}
            </span>
          </div>

          <div class="form-group">
            <label for="input-email">Email</label>
            <input type="email" name="email" class="form-control" id="input-email" placeholder="Email" [(ngModel)]="form.email" required>
            <span class="text-danger" [hidden]="!error.email">
              {{error.email}}
            </span>
          </div>

          <div class="form-group">
            <label for="input-password">Password</label>
            <input type="password" name="password" class="form-control" id="input-password" placeholder="Password" [(ngModel)]="form.password"
              required>
          </div>

          <div class="form-group">
            <label for="input-confirm-password">Confirm Password</label>
            <input type="password" minLength="8" name="confirmPassword" class="form-control" id="input-confirm-password" placeholder="Confirm Password"
              [(ngModel)]="form.password_confirmation" required>
              <span class="text-danger" [hidden]="!error.password">
                {{error.password}}
              </span>
          </div>


          <button type="submit" class="btn btn-block">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
