<div class="loader-container">
  <div class="loader" [hidden]="!isShow"></div>
</div>
<div class="w3-row" id="container" [hidden]="isShow">

  <!-- <div class="row">
    <div class="col-sm-10 col-md-6 col-centered">
        <i class="fa fa-shopping-cart" id="cart"></i>
    </div>
  </div> -->

    <div class="w3-row" id="searchBox">
      <div class="w3-col m3 w3-center">
          <p></p>
      </div>
      <div class="w3-col m6 w3-center">
        <div class="input-group mb-6" id="search">
          <input type="text" class="form-control input-lg" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-warning" id="search-button">
              <i class="fa fa-search"></i>
            </button>
          </div>          
        </div>
      </div>
      <div class="w3-col m3 w3-center" id="cart" (click)="goToCart()">
        <i class="fa fa-shopping-cart" >
            <span *ngIf="cart_num!=0" class="cart-num" id="topActionCartNumber">{{cart_num}}</span>
        </i>
      </div>

    </div>


    <div class="row" id="header-container">
      <div class="col-2" id="catagory_container">
        <p id="catagory" *ngFor="let catagory of product_catagory"> {{catagory.category_name}}</p>
      </div>
      <div class="col-10 w3-green">
        </div>
    </div>


    <div class="w3-container" id="btn-container">
      <div class="w3-quarter w3-padding">
        <button class="btn btn-success btn-block" id="btn-Shop" type="button">Shop</button>
      </div>
      <div class="w3-quarter w3-padding">
        <button class="btn btn-danger btn-block" id="btn-Collection" type="button">Collection</button>
      </div>
      <div class="w3-quarter w3-padding">
        <button class="btn btn-warning btn-block" id="btn-Promo" type="button">Promotion</button>
      </div>
      <div class="w3-quarter w3-padding">
        <button class="btn btn-primary btn-block" id="btn-Recommend" type="button">Recommend For You</button>
      </div>
    </div>





    <div class="w3-container w3-padding w3-light-grey">
      <div *ngFor="let product of products;let i = index" [hidden]="i >= 12">
        <div class="w3-container w3-quarter">
          <div class="card">
            <img class="card-img-top" src="assets/img/mac-image.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title" id="title">{{product.product_name}}</h5>
              <p class="card-text" id="description">{{product.product_description}}</p>
              <h4 class="card-text" id="text">&#3647; {{product.product_price}}</h4>
              <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#infoModal" (click)="openInfo(product)">Detail</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-padding-32 w3-light-grey">
      <button class="btn btn-outline-info btn-block">See More</button>
    </div>



    <div class="w3-container w3-white" id="before-footer">
      <p>Our shop</p>
      <div class="w3-container w3-padding">
        <div *ngFor="let shop of shops;let i = index" [hidden]="i >= 12">
          <div class="w3-container w3-quarter">
            <div class="card">
              <img class="card-img-top" src="assets/img/mac-image.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title" id="title">{{shop.shop_name}}</h5>
                <p class="card-text" id="description">{{shop.shop_location}}</p>
                <p class="card-text" id="text">{{shop.shop_type.shop_type_name}}</p>
                <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#infoShopModal" (click)="openShopInfo(shop)">Detail</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w3-padding-32">
        <button class="btn btn-outline-info btn-block">See More</button>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
      <h3 class="w3-center">CONTACT</h3>
      <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
      <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half">
          <p>
            <i class="fa fa-map-marker w3-margin-right"></i> Chiang Mai, TH</p>
          <p>
            <i class="fa fa-phone w3-margin-right"></i> Phone: +66 123456789</p>
          <p>
            <i class="fa fa-envelope w3-margin-right"> </i> Email: mail@mail.com</p>
          <br>
          <form #contactForm=ngForm (ngSubmit)="onSubmit()">
            <p>
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </p>
            <p>
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </p>
            <p>
              <input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject">
            </p>
            <p>
              <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
            </p>
            <p>
              <button class="w3-button w3-black" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
              </button>
            </p>
          </form>
        </div>
        <div class="w3-half">
          <!-- Add Google Maps -->
          <!-- <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div> -->
          <!-- <div #gmap style="width:100%;height:400px"></div> -->

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity w3-padding"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-padding"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-padding"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-padding"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-padding"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-padding"></i>
      </div>
      <p> &copy; Collage Of Art Media And Technology</p>
    </footer>

</div>



<!-- //////////////////////////////////// Product Modal /////////////////////////////////////////// -->

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img class="card-img-top" src="assets/img/mac-image.jpg" alt="">

        <p>
          <strong>Product Name: </strong>{{ form.product_name }}</p>
        <p>
          <strong>Product Description: </strong>{{ form.product_description }}</p>
        <p>
          <strong>Product Price: </strong>{{ form.product_price }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addToCart(form)">Add to cart</button>
      </div>
    </div>
  </div>
</div>


<!-- //////////////////////////////////// Shop Modal /////////////////////////////////////////// -->

<div class="modal fade" id="infoShopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img class="card-img-top" src="assets/img/mac-image.jpg" alt="">

        <p>
          <strong>Shop Name: </strong>{{ shop.shop_name }}</p>
        <p>
          <strong>Shop Type: </strong>{{ shop.shop_type }}</p>
        <p>
          <strong>Shop Location: </strong>{{ shop.shop_location }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="goToShop(form)">To to shop</button>
      </div>
    </div>
  </div>
</div>