<div>
  <div class="loader-container">
    <div class="loader" *ngIf="!isLoad"></div>
  </div>
</div>
<div class="w3-row" id="container" *ngIf="isLoad">


  <div class="header">
    <div class="w3-container">
      <h1>
        <b>{{seller.shop_name}}</b>
      </h1>

      <!-- <div class="w3-bottombar w3-padding-16" id="myTopnav">
        <span class="w3-margin-right">filter:</span>
        <button class="w3-button w3-black btn-menu">ALL PRODUCTS</button>
        <button class="w3-button w3-white btn-menu">
          <i class="fa fa-check w3-margin-right"></i>AVAILABLE PRODUCTS</button>
        <button class="w3-button w3-white btn-menu">
          <i class="fa fa-minus w3-margin-right"></i>OUT OF STOCK PRODUCT</button>
        <button class="w3-button w3-white btn-menu">
          <i class="fa fa-plus w3-margin-right"></i>ADD PRODUCT</button>
          <button class="w3-button w3-white btn-menu">
            <i class="fa fa-history w3-margin-right"></i>SHOP HISTOTY</button>
            <button class="w3-button w3-white btn-menu">
                <i class="fa fa-cogs w3-margin-right"></i>EDIT SHOP</button>
      </div> -->
      <!-- Add on  -->
      <div class="topnav" id="myTopfilter">
        <a id="filter">Filter: </a>
        <a (click)="onSelectAllProducts()" [style.background-color]="isAllProducts ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-inbox w3-margin-right"></i>ALL PRODUCTS</a>
        <a (click)="onSelectAvailableProducts()" [style.background-color]="isAvailableProducts ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-check w3-margin-right"></i>AVAILABLE PRODUCTS</a>
        <a (click)="onSelectOutOfStockProduct()" [style.background-color]="isOutOfStockProducts ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-minus w3-margin-right"></i>OUT OF STOCK PRODUCT</a>
        <a (click)="onSelectAddProduct()" [style.background-color]="isAddProduct ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-plus w3-margin-right"></i>ADD PRODUCT</a>
        <a (click)="onSelectShopHistory()" [style.background-color]="isShopHistory ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-history w3-margin-right"></i>SHOP HISTOTY</a>
        <a (click)="onSelectEditShop()" [style.background-color]="isEditShop ? '#B7B7B7': '#FFFFFF'">
          <i class="fa fa-cogs w3-margin-right"></i>EDIT SHOP</a>
        <a href="javascript:void(0);" class="icon" (click)="toogle()">
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
      <hr>

    </div>
  </div>

  <div *ngIf="isAllProducts">

    <div class="table-container">
      <app-table-data [products]="products"></app-table-data>
    </div>

  </div>

  <div *ngIf="isAvailableProducts">
    <div class="table-container">
      <app-table-data [products]="availableProducts"></app-table-data>
    </div>
  </div>

  <div *ngIf="isOutOfStockProducts">
    <div class="table-container">
      <app-table-data [products]="outOfStockProducts"></app-table-data>
    </div>
  </div>

  <div *ngIf="isAddProduct">
    <div class="w3-row-padding w3-container">
      <app-create-product></app-create-product>
    </div>
  </div>

  <div *ngIf="isShopHistory">
    <p>isShopHistory</p>

  </div>

  <div *ngIf="isEditShop">
    <div class="w3-row-padding w3-container">
      <app-edit-shop></app-edit-shop>
    </div>
  </div>

</div>
